body {
  grid-template-rows: auto 34em 75px;
}

.contact-links {
    -webkit-transform: translate(30%, 40%);
            transform: translate(30%, 40%);
}

.contact-link {
    text-decoration: none;
    display: block;
    width: 15em;
    background-color: rgba(49, 45, 45, 0.63);
    box-shadow: black 0px 0px 3px,
                gold 4px 4px 4px,
                orange 0px 0px 15px;
}

.contact-link:hover {
    width: 16em;
    color: rgba(228, 214, 18, 0.63);
    background-color: rgba(1, 100, 133, 0.73);
}

@media
  only screen and (min-width: 360px) and (max-width: 767px),
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 326dpi),
  only screen and (                min-resolution: 2dppx) {

  body {
    grid-template-rows: 1fr 500px auto 75px;
    grid-row-gap: 3px;
  }

  .page-text-body {
      display: flex;
      flex-direction: column;
      align-self: center;
    }

  .contact-links {
    transform: translate(15%, 3%);
    -webkit-transform: translate(15%, 3%);
  }
}
