@charset "UTF-8";

/**
  OC CIS 155 Web Development
  Build on concepts Project #3

  Author: Bryan Hyland
  Date:   8 Aug 18

  Filename: cpp_styles.css
**/

/** Structure Style **/
section {
  border-top: 3px solid gray;
  margin-top: 1%;
  background-color: black;
}

/* Line header for grading */
section header {
  margin-top: 1%;
  font-size: 2em;
  text-align: center;
  color: rgba(255, 255, 255, .80);
}

/* Line 28 Start article styles for grading */
section.arti_tab {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  margin: 0px 2.5% 2.5% 2.5%;

  border: 5px outset orange;
  border-radius: 1%;
  box-shadow: 5px 10px 8px rgba(73, 99, 184, .5),
              -5px -10px 8px rgba(73, 99, 184, .5),
              10px -5px 8px rgba(73, 99, 184, .5),
              -10px 5px 8px rgba(73, 99, 184, .5);
}

article {
  display: inherit;
  background-color: rgb(155, 224, 204);
}

/** Table Styles **/

table#article_table {
  width: 66%;
  height: auto;
  margin-left: .5%;
  color: black;
}

table#article_table th {
  columns: 3;
  width: 100%;
  border: 5px inset purple;
  border-radius: 1%;
  border-collapse: collapse;
}

table#article_table td {
  flex-wrap: wrap;
  overflow: auto;
  border: 5px inset purple;
  border-radius: 1%;
  border-collapse: collapse;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 31.92%;
  height: 25em;
}
/* Line 77 End article styles for grading */

/* Line 79 Start table styles for grading */
table#project_list {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  margin-bottom: 1%;
  background: linear-gradient(gray, black);
  border: 5px inset orange;
  border-radius: 1%;
  border-collapse: collapse;
  color: rgba(255, 255, 255, .80);
  box-shadow: 5px 10px 8px rgba(115, 0, 255, .25),
              -5px -10px 8px rgba(115, 0, 255, .25),
              10px -5px 8px rgba(115, 0, 255, .25),
              -10px 5px 8px rgba(115, 0, 255, .25);
}

table#project_list thead {
  font-size: 1.5em;
  text-shadow: 5px 0px 2px rgba(204, 168, 24, .75);
}

table#project_list thead > th {
  vertical-align: middle;
  text-align: center;
  border-bottom: 3px inset orange;
}

table#project_list tbody {
  text-shadow: 4px 0px 1px rgba(204, 168, 24, .75);
  width: 100%;
}

table#project_list th, table#project_list td {
  text-align: center;
  border: 3px inset orange;
  border-radius: 1%;
}
/* Line 118 End table styles for grading */
/** Line 119 Start Form Styles for grading **/

form {
  margin-left: auto;
  margin-right: auto;
}

input[type="reset"] {
  float: left;
}

input[type="submit"], input[type="text"], input[type="email"] {
  float: right;
}
/* Line 133 End Form Styles for grading */
/** Horizontal Grouping Styles **/

/* Line 136 Start Flex Container for grading */
/* Note: This grouping if for horizontal images section. */
section#videos {
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border: 3px outset orange;
  border-radius: 1%;
  box-shadow: 5px 10px 8px rgba(255, 255, 255, .25),
              -5px -10px 8px rgba(255, 255, 255, .25),
              10px -5px 8px rgba(255, 255, 255, .25),
              -10px 5px 8px rgba(255, 255, 255, .25);
}

section#videos video {
  max-width: 640px;
  min-width: 150px;
  width: 520px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border: inherit;
  border-radius: .25%;
}
/* Line 163 End Flex Container for grading */
