.page-text-body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(30em, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

@media screen and (max-width: 600px) {
  body {
    grid-template-rows: 90px 350px 2fr 100px;
  }
}
