@charset "UTF-8";

/** Body Section **/
body {
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 100px 80px 1fr 75px;
  grid-template-areas: "header" "nav" "content" "footer";
  justify-content: center;
  justify-self: center;
}

/** Header **/
header {
  grid-area: header;
  height: 100px;
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-areas: "headertext logo";
}

.header-text {
  grid-area: headertext;
}

.logo {
  grid-area: logo;
  justify-self: stretch;
  justify-content: stretch;
  align-self: center;
}

.logo>img {
  width: 80px;
  height: 103px;
}

.headNav {
  grid-area: nav;
  display: grid;
  grid-column-gap: 2px;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: 60px;
  justify-content: stretch;
}

.headNav>a {
  text-align: center;
  text-decoration: none;
  align-self: center;
}

.content {
  grid-area: content;
  height: 700px;
}

.intro-head {
  position: relative;
  transform: translateX(37%);
  font-size: 25px;
}

.intro-body {
  position: relative;
  transform: translateY(125px);
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-areas: "footerText footerContact";
  text-align: center;
}

.footer-text {
  grid-area: footerText;
  align-self: center;
}

.footer-contact {
  grid-area: footerContact;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
