/* autoprefixer grid: autoplace */

@charset "UTF-8";
@font-face {
    font-family: Jura-Regular;
    src: url('../fonts/Jura-Regular.ttf') format("truetype");
}

/** Structual Styles **/
/** Body Section **/
body {
  font-family: Jura-Regular, cursive, monospace;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  background-color: rgb(53, 53, 53);
  color: rgb(0, 150, 200);
}

a {
  font-family: Jura-Regular, cursive, monospace;
  -webkit-font-kerning: normal;
          font-kerning: normal;
  color: rgba(0, 150, 200, .85);
  vertical-align: middle;
  text-align: center;
}

header, nav, .content {
  padding-left: 2%;
  padding-right: 2%;
}

.headertext {
  font-size: 3em;
  color: rgb(0, 150, 200);
}

.header-img:hover {
  cursor: pointer;
  -webkit-animation: bounce 1.25s infinite;
          animation: bounce 1.25s infinite;
}

/** Navigation Section **/
.navlink {
  text-decoration: none;
  background-color: rgba(49, 45, 45, 0.63);
  border-radius: 100px;
  box-shadow: black 0px 0px 3px,
              gold 4px 4px 4px,
              orange 0px 0px 15px;
}

.navlink:hover {
  width: 90%;
  color: rgba(228, 214, 18, 0.63);
  background-color: rgba(1, 100, 133, 0.73);
}

.navlink>p {
  font-size: 15px;
}

.active-navlink {
  width: 90%;
  color: rgba(228, 214, 18, 0.63);
  background-color: rgba(1, 100, 133, 0.90);
}

.content {
  background-repeat: no-repeat;
  background-size: 100% 99.8%;
}

.page-text>h3 {
  font-size: 2em;
}

footer {
  width: 100%;
  height: auto;
  border-top: 5px groove red;
}

.footer-contact-item {
  text-decoration: underline;
}

.footer-contact-item:hover {
  -webkit-animation: blast .75s infinite;
          animation: blast .75s infinite;
}

/* Animations */
@keyframes bounce {
    0% {
      box-shadow: rgba(0, 0, 0, 0);
    }

    50% {
      box-shadow: black 5px 5px 8px,
                   black 0px 0px 10px;
    }

    100% {
      box-shadow: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes bounce {
  0% {
    box-shadow: rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: black 5px 5px 8px,
                black 0px 0px 10px;
  }

  100% {
    box-shadow: rgba(0, 0, 0, 0);
  }
}


@keyframes blast {
    0% {
      text-shadow: rgba(0, 0, 0, 0);
    }

    50% {
      text-shadow: gold 5px 5px 8px,
                   orange 0px 0px 10px;
    }

    100% {
      text-shadow: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes blast {
  0% {
    text-shadow: rgba(0, 0, 0, 0);
  }

  50% {
    text-shadow: gold 5px 5px 8px,
                orange 0px 0px 10px;
  }

  100% {
    text-shadow: rgba(0, 0, 0, 0);
  }
}
