
@charset "UTF-8";
@font-face {
    font-family: Jura-Regular;
    src: url('../fonts/Jura-Regular.ttf') format("truetype");
}

/** Structual Styles **/
/** Body Section **/
body {
  font-family: Jura-Regular, cursive, monospace;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  background-color: rgb(53, 53, 53);
  color: rgb(0, 150, 200);
}

a {
  color: rgba(0, 150, 200, .85);
  vertical-align: middle;
  text-align: center;
}

header, nav, .content {
  padding-left: 2%;
  padding-right: 2%;
}

.headertext {
  font-size: 3em;
  color: rgb(0, 150, 200);
}

.header-tag {
  font-size: .5em;
}

.header-img {
  -webkit-animation: bounce 2.75s ease-in infinite;
  animation: bounce 2.75s ease-in infinite;
}

.header-img:hover {
  cursor: pointer;
}

/** Navigation Section **/
.navlink {
  text-decoration: none;
  background-color: rgba(49, 45, 45, 0.63);
  border-radius: 100px;
  box-shadow: black 0px 0px 3px,
              gold 4px 4px 4px,
              orange 0px 0px 15px;
}

.navlink:hover {
  width: 90%;
  color: rgba(228, 214, 18, 0.63);
  background-color: rgba(1, 100, 133, 0.73);
  text-shadow: 3px 3px 3px rgb(0, 0, 0);
  animation: nav 1.25s ease-in-out infinite;
}

.navlink>p {
  font-size: 15px;
}

.active-navlink {
  width: 90%;
  color: rgba(228, 214, 18, 0.63);
  background-color: rgba(1, 100, 133, 0.90);
}

.active-navlink:hover {
  animation: none;
}

.content {
  background-repeat: no-repeat;
  background-size: 100% 99.8%;
}

.page-text>h3 {
  font-size: 2em;
}

footer {
  width: 100%;
  height: auto;
  border-top: 5px groove orange;
  box-shadow: inset 0px 0px 0px -7px black,
              inset 0px 13px 13px -13px gold,
              inset 0px 0px 0px -20px orange;
}

.footer-contact-item {
  text-decoration: underline;
}

.footer-contact-item:hover {
  -webkit-animation: blast .75s infinite;
  animation: blast .75s infinite;
}

/* Animations */
@keyframes nav {
  0% {
    width: 100%;
  }

  50% {
    width: 110%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes nav {
  0% {
    width: 100%;
  }

  50% {
    width: 110%;
  }

  100% {
    width: 100%;
  }
}

@-moz-keyframes nav {
  0% {
    width: 100%;
  }

  50% {
    width: 110%;
  }

  100% {
    width: 100%;
  }
}

@keyframes bounce {
    0% {
      box-shadow: rgba(0, 0, 0, 0);
    }

    50% {
      box-shadow: black 5px 5px 8px,
                   black 0px 0px 10px;
    }

    100% {
      box-shadow: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes bounce {
  0% {
    box-shadow: rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: black 5px 5px 8px,
                black 0px 0px 10px;
  }

  100% {
    box-shadow: rgba(0, 0, 0, 0);
  }
}

@-moz-keyframes bounce {
  0% {
    box-shadow: rgba(0, 0, 0, 0);
  }

  50% {
    box-shadow: black 5px 5px 8px,
                black 0px 0px 10px;
  }

  100% {
    box-shadow: rgba(0, 0, 0, 0);
  }
}

@keyframes blast {
    0% {
      text-shadow: rgba(0, 0, 0, 0);
    }

    50% {
      text-shadow: gold 5px 5px 8px,
                   orange 0px 0px 10px;
    }

    100% {
      text-shadow: rgba(0, 0, 0, 0);
    }
}

@-webkit-keyframes blast {
  0% {
    text-shadow: rgba(0, 0, 0, 0);
  }

  50% {
    text-shadow: gold 5px 5px 8px,
                orange 0px 0px 10px;
  }

  100% {
    text-shadow: rgba(0, 0, 0, 0);
  }
}

@-moz-keyframes blast {
  0% {
    text-shadow: rgba(0, 0, 0, 0);
  }

  50% {
    text-shadow: gold 5px 5px 8px,
                orange 0px 0px 10px;
  }

  100% {
    text-shadow: rgba(0, 0, 0, 0);
  }
}

@media
  only screen and (max-width: 600px),
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 458dpi),
  only screen and (                min-resolution: 3dppx) {
    .content {
      text-align: center;
    }
    
    .navlink {
      width: 65%;
    }
    
    .navlink:hover {
      width: 65%;
    }
    
    .active-navlink {
      width: 60%;
    }
    
    footer {
      display: flex;
      flex-direction: column;
    }
    
    .footer-text, .footer-contact {
      display: block;
      align-self: center;
    }
    
    @keyframes nav {
      0% {
        width: 65%;
      }

      50% {
        width: 75%;
      }

      100% {
        width: 65%;
      }
    }

    @-moz-keyframes nav {
      0% {
        width: 65%;
      }

      50% {
        width: 75%;
      }

      100% {
        width: 65%;
      }
    }

    @-webkit-keyframes nav {
      0% {
        width: 65%;
      }

      50% {
        width: 75%;
      }

      100% {
        width: 65%;
      }
    }
}
