@charset "UTF-8";
@font-face {
    font-family: Jura-Regular;
    src: url('../fonts/Jura-Regular.ttf') format("truetype");
}

/** Structual Styles **/
html {
  font-family: Jura-Regular, cursive;
  font-kerning: normal;
  background-color: rgb(0, 150, 200);
}

/** Body Section **/
body {  
  background: linear-gradient(70deg, rgb(0, 0, 0), rgb(53, 53, 53) 80%);
  color: rgb(0, 150, 200);
}

header, nav, .content {
  padding-left: 2%;
  padding-right: 2%;
  border-left: 5px groove red;
}

.headertext {
  font-family: Jura-Regular, monospace;
  font-size: 3em;
  color: rgb(0, 150, 200);
  text-shadow: black 0px 0px 3px,
               gold 4px 4px 4px,
               orange 0px 0px 55px;
}

/** Navigation Section **/
/* Head Navigation Class */
.headNav {
  border-bottom: 5px groove red;
}

.navlink {
  color: rgba(0, 0, 0, .80);
  text-decoration: none;
  background-color: rgb(0, 150, 200);
  border-radius: 100px;
  box-shadow: -2px 5px 6px rgba(0, 0, 0, .78);
}

.navlink:hover {
  background-color: rgba(1, 100, 133, 0.73);
}

.navlink:visited {
    color: rgba(0, 0, 0, .80);
}

/* Line 89 Starts footer for grading */
footer {
  width: 100%;
  height: auto;
  border-top: 5px groove red;
}

/* Portfolio links Class */
