body {
  grid-template-rows: 110px 40px 100em 75px;
}

.page-text-body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(30em, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.proj-vid {
    grid-column: 1 / 1;
    display: inline-block;
    width: 30em;
}

.proj-vid-desc {
    grid-column: 2 / -1;
}

.proj-vid-desc>a:hover {
    -webkit-animation: blast .75s infinite;
    animation: blast .75s infinite;
}

@media screen and (max-width: 600px) {
  body {
    grid-template-rows: 110px 350px 2fr 75px;
  }

  .page-text-body {
    -webkit-transform: translateX(2%);
    transform: translateX(2%);
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .proj-vid {
    display: block;
    width: 20em;
  }

  .grid-vid-desc {
    font-size: 10px;
    display: block;
  }
}
