body {
  grid-template-rows: auto 85em 75px;
}

.page-text-body {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, minmax(30em, 1fr));
    grid-template-rows: repeat(auto-fit, auto);
}

.proj-vid {
    grid-column: 1 / 1;
    display: inline-block;
    width: 30em;
}

.proj-vid-desc {
    grid-column: 2 / -1;
}

.proj-vid-desc>a:hover {
    -webkit-animation: blast .75s infinite;
    animation: blast .75s infinite;
}

@media
  only screen and (min-width: 360px) and (max-width: 600px),
  only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (   min--moz-device-pixel-ratio: 3),
  only screen and (     -o-min-device-pixel-ratio: 3/1),
  only screen and (        min-device-pixel-ratio: 3),
  only screen and (                min-resolution: 458dpi),
  only screen and (                min-resolution: 3dppx) {
  
    body {
      grid-template-rows: 1fr 500px auto 75px;
      grid-row-gap: 3px;
    }
    
    .page-text-body {
      display: flex;
      flex-direction: column;
    }

    .proj-vid {
      align-self: center;
      width: 20em;
    }

    .proj-vid-desc {
      text-align: center;
    }
}
